@page
@model EksamenSem2.Pages.FjernMedarbejderModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="Medarbejder.Id" class="control-label"></label>
        <input asp-for="Medarbejder.Id" class="form-control" />
        <sPan asp-validation-for="Medarbejder.Id" class="text-danger"></sPan>
    </div>
    <div class="form-group">
        <label asp-for="Medarbejder.Email" class="control-label"></label>
        <input asp-for="Medarbejder.Email" class="form-control" />
        <sPan asp-validation-for="Medarbejder.Email" class="text-danger"></sPan>
    </div>
    <div class="form-group">
        <input type="submit" value="Fjern" class="btn btn-primary" />
    </div>

</form>